@{
    ViewBag.Title = "Home Page";
}

<div id="tabs">

    <ul>
        <li><a href="#tabs-1">Students</a></li>
        <li><a href="#tabs-2">Tutors</a></li>
        <li><a href="#tabs-3">All Pairs</a></li>
        <li><a href="#tabs-4">Classes/Training</a></li>
        <li><a href="#tabs-5">Small Groups</a></li>
        <li><a href="#tabs-6">Volunteers</a></li>
        <li><a href="#tabs-7">Contacts</a></li>
        <li><a href="#tabs-8">Donors</a></li>
        <li><a href="#tabs-9">Maintenance</a></li>
    </ul>

    <div id="tabs-1">
    </div>

    <div id="tabs-2">
    </div>

    <div id="tabs-3">
    </div>

    <div id="tabs-4">
    </div>

    <div id="tabs-5">
    </div>

    <div id="tabs-6">
    </div>

    <div id="tabs-7">
    </div>

    <div id="tabs-8">
    </div>

    <div id="tabs-9">
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            $("#tabs").tabs();
        });
    </script>
}