<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />


    <!-- One Student reports -->
    <add key="OneStudentReport1" value="StudentsMatchHistorybyDateRange" />

    <!-- All Student reports -->
    <add key="StudentReport1" value="StudentStatusHistory" />
    <add key="StudentReport2" value="StudentAccomplishmentsByActiveDateGreaterThan1Year" />
    <add key="StudentReport22" value="StudentWaitTime" />
    <!--
    <add key="StudentReport1" value="StudentStatusHistory" />
    <add key="StudentReport2" value="StudentAccomplishmentsByActiveDateGreaterThan1Year" />
    <add key="StudentReport3" value="StudentActivePhoneList" />
    <add key="StudentReport4" value="StudentBday" />
    <add key="StudentReport5" value="StudentBdayAvry5160" />
    <add key="StudentReport6" value="StudentChildrenBDay" />
    <add key="StudentReport7" value="StudentChildrenBdayAvry5160" />
    <add key="StudentReport8" value="StudentFFLAll" />
    <add key="StudentReport9" value="StudentFFLFollowUpSurveyDateSelection" />
    <add key="StudentReport10" value="StudentFFLInitialSurveyDateSelection" />
    <add key="StudentReport11" value="StudentFFLWithChildrenCountsByAge" />
    <add key="StudentReport12" value="StudentFingerPrints" />
    <add key="StudentReport13" value="StudentInActivePhoneList" />
    <add key="StudentReport14" value="StudentPortfolioReport" />
    <add key="StudentReport15" value="StudentsActiveDateMoreThan1YearWithHoursMet" />
    <add key="StudentReport16" value="StudentsComputerLab" />
    <add key="StudentReport17" value="StudentsMatchHistorybyDateRange" />
    <add key="StudentReport18" value="StudentsNameBadgeAvry5395" />
    <add key="StudentReport19" value="StudentStats" />
    <add key="StudentReport20" value="StudentsWithChildrenCounts" />
    <add key="StudentReport21" value="StudentsWithCity" />
    <add key="StudentReport22" value="StudentWaitTime" />
  -->
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <!--
    <add name="LitProReadEntities" connectionString="metadata=res://*/Models.LitProReadModel.csdl|res://*/Models.LitProReadModel.ssdl|res://*/Models.LitProReadModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
    data source=.\sqlexpress;initial catalog=LitProRead 2-26-2014;User ID=tdangdb;Password=tdangdb; integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="LitProRead_2_26_2014ConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=&quot;LitProRead 2-26-2014&quot;;Integrated Security=True;User ID=tdangdb;Password=tdangdb;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="LitProReadEntities" connectionString="Data Source=lib01acldb01.aclibrary.org;Initial Catalog=&quot;LitProRead 2-26-2014&quot;User ID=tdangdb;Password=tdangdb;MultipleActiveResultSets=True;Application Name=EntityFramework" />
      -->
  
    <add name="LitProReadEntities" connectionString="metadata=res://*/Models.LitProReadModel.csdl|res://*/Models.LitProReadModel.ssdl|res://*/Models.LitProReadModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;             data source=lib01acldb01.aclibrary.org;initial catalog=LitProRead 2-26-2014;User ID=Ulibproread;Password=@libproread; MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>